@charset "UTF-8";


#wrap {
	margin: auto;
	width: 600px;
	text-align: center;
}

#logo {
	margin-top: 150px;
	margin-bottom: 20px;
}
#logo:hover {
	opacity: 0.9;
}

.login {
	width: 350px;
	height: 30px;
	padding: 10px;
	font-size: 14pt;
	margin-bottom: 5px;
}

.login:focus{
	border: 2px solid #2DB400;
	outline: none;
	
}

#btn {
	margin-top: 20px;
}

#btn:hover {
	opacity: 0.9;
}